{% extends "common/base.html" %}
{% block content %}
<table class="table table-striped" style="width: 100%">
  <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Amount</th>
        <th>Adjust</th>
    </tr>
  </thead>
  <tbody>
    {% for stock in stocks %}
    <tr>
        <td>{{stock.GetID()}}</td>
        <td>{{stock.GetName()}}</td>
        <td>{{stock.GetAmount()}}</td>
        <td>
          <form method="POST">
            <input type="hidden" name="id" value="{{stock.GetID()}}">
            <input type="number" name="amount" placeholder="amount">
            <input type="submit" value="Adjust">
          </form>
        </td>
    </tr>
    {% endfor %}
  </tbody>

</table>
{% endblock %}
