{% extends "common/base.html" %}
{% block content %}
<table style = "width: 100%">

    <tr>
        <th>id</th>
        <th>user_name</th>
        <th>price</th>
        <th>create_at</th>
        <th>update_at</th>
        <th>status</th>
	<th>content</th>
    </tr>
    {% for order in orders %}
    <tr>
        <td>{{order.id}}</td>
        <td>{{order.user.name}}</td>
        <td>{{order.price}}</td>
        <td>{{order.create_at}}</td>
        <td>{{order.update_at}}</td>
        <td>{{order.status}}</td>
	<td>{{order.content}}</td>
    </tr>
    {% endfor %}

</table>
{% endblock %}
