{% extends "common/base.html" %}
{% block content %}
<table class="table table-striped" style="width: 100%">
  <thead>
    <tr>
        <th>ID</th>
        <th>User Name</th>
        <th>Price</th>
        <th>Created at</th>
        <th>Updated at</th>
        <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {% for order in orders %}
    <tr>
        <td><a href="/order/{{order.GetID()}}">{{order.GetID()}}</a></td>
        <td>{{order.user.name}}</td>
        <td>${{"%.2f" % order.GetPrice()}}</td>
        <td>{{order.GetCreatedAt()}}</td>
        <td>{{order.GetUpdatedAt()}}</td>
        <td>{{order.GetStatusText()}}</td>
    </tr>
    {% endfor %}
  </tbody>

</table>
{% endblock %}
