.burger-header-menu {
  border-bottom: none;
  z-index: 4;
  background: #2d3e50;
  padding: 0.5em;
  box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
  width: 100%;
  white-space: nowrap;
  position: fixed;
  left: 0;
  top: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.burger-header-menu .burger-header-heading {
  color: white;
  font-weight: 400;
  font-size: 120%;
  padding: .5em 1em;
  display: inline-block;
  zoom: 1;
  vertical-align: middle;
}

.burger-header-menu .burger-header-menu-list {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}

.burger-header-menu .burger-header-menu-item {
  display: inline-block;
  zoom: 1;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  height: 100%;
  padding: .5em 1em;
  color: #6FBEF3;
}

.burger-header-menu .burger-header-menu-item:hover {
  opacity: 0.8;
}

.burger-header-menu .burger-header-menu-link {
  text-decoration: none;
  color: #6FBEF3;
}

.burger-header-menu .burger-header-menu-link-active {
  color: white;
}

.burger-content-wrapper {
  position: absolute;
  top: 12%;
  width: 100%;
}

.burger-content {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 75%;
  margin-top: 1rem;
}

.burger-alert {
  border: none;
  color: #fff;
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
}

.burger-alert-error {
  background-color: #E74C3C;
}

input[type=text], input[type=password], input[type=email], input[type=number] {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button, input[type=submit], .button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.blue-button {
  background-color: #4cafa6;
}

button:hover, input[type=submit]:hover, .button:hover {
  opacity: 0.9;
}
