{% extends "common/base.html" %}
{% block content %}
<h3>Checkout</h3><br>
<pre>
{{order.GetDetailsString()}}
</pre>
<form method="POST">
  <b>Card number</b><br><input type="number"><br>
  <b>Holder's name</b><br><input type="text"><br>
  <b>Valid before</b><br><input type="number" min=1 max=12 placeholder="month"><input type="number" placeholder="year"><br>
  <b>CVV</b><br><input type="number" min=1 max=999><br>
  <input type="submit" value="Confirm"><br>
</form>
<a href="/order/{{order.GetID()}}/menu">Back to menu</a>
{% endblock %}

