<div style="display: inline-grid; margin-left: 25px; margin-right: 25px;">
<img src="/static/images/{{item.GetImage()}}" style="width: 100px; height: 100px;">
<h5>{{item.GetName()}}</h5>
{% if item.GetPrice() != 0 %}
  {% if item.IsRoot() %}
    ${{"%.2f" % item.GetPrice()}}
  {% else %}
    +${{"%.2f" % item.GetPrice()}}
  {% endif %}
{% elif not item.IsRoot() %}
No Additional Price
{% elif item.IsRoot() and item.ingredientgroups.__len__() == 0 %}
FREE
{% else %}
No Base Price
{% endif %}

{% if item.HasEnoughStock(1) %}
<input type="radio" name="items" value="{{item.GetID()}}"> Choose This
{% else %}
<input type="text" value="OUT OF STOCK" disabled />
<input type="radio" disabled> OUT OF STOCK
{% endif %}
</div>
