<div style="display: inline-grid; margin-left: 25px; margin-right: 25px;">
<img src="/static/images/{{item.GetImage()}}" style="width: 100px; height: 100px;">
<h5>{{item.GetName()}}</h5>
{% if item.GetPrice() != 0 %}
  {% if item.IsRoot() %}
    ${{"%.2f" % item.GetPrice()}}
  {% else %}
    +${{"%.2f" % item.GetPrice()}}
  {% endif %}
{% elif not item.IsRoot() %}
NO ADDITIONAL PRICE
{% elif item.IsRoot() and item.ingredientgroups.__len__() == 0 %}
Free
{% else %}
NO BASE PRICE
{% endif %}

{% if item.HasEnoughStock(1) %}
<input type="hidden" name="items" value="{{item.GetID()}}" />
<input name="numbers" type="number" placeholder="how many" value="0" />
{% else %}
<input type="text" value="OUT OF STOCK" disabled />
{% endif %}
</div>
