{% extends "common/base.html" %}
{% block content %}
{% if user is defined %}
<h3>Welcome, {{user.GetName()}}</h3>
{% else %}
<h3>Welcome!</h3>
{% endif %}
<i>We offer the best burgers in town!</i>
<hr>
{% if user is defined %}
<h4>Already ordered? Check status here!</h4>
<form method="POST" action="/order/check">
<input type="text" name="oid" placeholder="Order ID">
<input type="submit" value="check">
</form>
{% if user.GetType() == 1 %}
<hr>
<a href="/admin/orderlist">Click here to go to Current Order List</a><br>
<!--a href="/admin/inventory">Click here to go to Inventory Management</a><br-->
{% endif %}
{% else %}
<h4>Want to order? Please <a href="/accounts/signin">sign in first!</a></h4>
{% endif %}
{% endblock %}
