{% extends "common/base.html" %}
{% block content %}
  <h3>Shopping Cart</h3>
  <pre>{{order.GetDetailsString()}}</pre>
  <center>
  <h3>{{header}}</h3>
  <form method="POST">
    <input type="hidden" name="path" value="{{path}}" />
    {% for offering in items %}
      {% with item=offering %}
        {% if style == "pickone" %}
          {% include "customer/item_pickone.html" %}
        {% else %}
          {% include "customer/item_multi.html" %}
        {% endif %}
      {% endwith  %}
    {% endfor %}
    {% if style == "pickone" %}
    <input type="hidden" name="numbers" value="1" />
    {% endif %}
    <br><br><br>
    <input type="submit" value="Add"/>
  </form>
  {% if showcheckout %}
    <a class="button blue-button" href="/order/{{order.GetID()}}/checkout">Checkout</a>
  {% endif %}
  </center>
{% endblock %}
